#header {
  background-color: $light;

  @media ($lg_down) {
    background-color: $dark;
    color: $light;
  }

  .container {
    display: flex;
    height: rem-calc(100);
    align-items: flex-end;
    justify-content: space-between;

    @media ($lg_down) {
      height: auto;
      align-items: center;
      padding: {
        top: rem-calc(10);
        bottom: rem-calc(10);
      };
    }
  }

  .title {
    margin: 0;
    line-height: 0;

    svg {
      @include hover {
        fill: $primary;
      }

      @media ($lg_down) {
        width: 70px;
      }
    }
  }

  .navigation {
    margin-right: rem-calc(-20);

    @media ($lg_down) {
      margin-right: 0;
    }

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      @media ($lg_down) {
        margin-right: rem-calc(-10);
      }
    }

    a {
      display: block;
      padding: rem-calc(16 20);
      font-size: rem-calc(14);
      text-transform: uppercase;

      @media ($lg_down) {
        padding: rem-calc(0 10);
        font-size: rem-calc(12);
      }
    }
  }
}
