// helpers
@import './helpers/index';

// post
$gap: 32px;
$padding: $gap calc(#{$gap} / 1.5);

#post-list {
	.post:not(:first-child) {
		margin-top: 24px;
	}

	.post {
		padding: $padding;
		background-color: #fff;
	}

	.post-thumb {
		margin: #{- $gap} calc(-#{$gap} / 1.5) $gap;
		padding-top: 56.25%;
		background: {
			position: center center;
			size: cover;
			repeat: no-repeat;
		}
	}

	.post-title {
		font-size: 16px;
		font-weight: 700;
	}

	.post-info {
		display: flex;
		gap: 12px;
		margin-top: 8px;
		font-size: 12px;
		color: $secondary;

		.date {
			flex: 0 0 auto;
		}

		.categories {
			flex: 0 0 auto;
		}

		.author {
			flex: 0 0 auto;
		}
	}

	.post-desc {
		padding-top: 16px;
		font-size: 13px;
	}

	.post-external {
		display: block;
		margin: #{$gap} #{- $gap} #{- $gap};
		padding: 16px $gap;
		font-size: 13px;
		border-top: 1px solid $light;

		.ico {
			position: relative;
			top: -1px;
			margin-right: 4px;
			width: 16px;
			height: 16px;
			transition: background 0.2s;
		}

		&:hover {
			.ico {
				background-image: get-icon('north-east', $info);
			}
		}
	}
}
