// helpers
@import './helpers/index';

// base
@import './base/reset';
@import './base/grid';
@import './base/typography';
@import './base/colors';

// common
body {
	background-color: map-get($theme-colors, 'light');
}

a {
	transition: color 0.2s;

	&:hover {
		color: $info;
	}
}

[class*="material-icons"] {
	font-size: 1em;
	vertical-align: middle;
	transform: translateY(-0.05em);
}

// wrap
#wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// header
#header {
	flex: 0 0 auto;
	display: flex;
	align-items: flex-end;
	padding-bottom: gap(5);
	height: 200px;
	color: #fff;
	background-color: #2c3e50;

	.logo {
		display: flex;
		align-items: flex-end;

		.title {
			font-size: gap(3);
		}

		.sub {
			font-size: 12px;
			padding: 0 0 5px 20px;
			text-transform: uppercase;
		}
	}

	.gnb {
		display: flex;
		justify-content: flex-end;

		ul {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			flex: 0 0 auto;
		}

		a {
			display: block;
			padding: gap() gap(2);
			text-transform: uppercase;
		}
	}
}


// main
#main {
	flex: 1 1 auto;
	padding: gap(10) 0;
}


// post
.post {
	padding: gap(4);
	background-color: #fff;

	&:not(:first-child) {
		margin-top: gap(3);
	}

	&-thumb {
		margin: #{- gap(4)} #{- gap(4)} gap(4);
		padding-top: 56.25%;
		background: {
			position: center center;
			size: cover;
			repeat: no-repeat;
		}
	}

	&-title {
		font-size: gap(2);
		font-weight: 700;
	}

	&-info {
		display: flex;
		gap: gap(1.5);
		margin-top: gap();
		font-size: 13px;
		color: $secondary;

		.date {
			flex: 0 0 auto;
		}

		.categories {
			flex: 0 0 auto;
		}

		.author {
			flex: 0 0 auto;
		}
	}

	&-desc {
		padding-top: gap(2);
		font-size: gap(1.6);
	}

	&-external {
		display: block;
		margin: #{gap(4)} #{- gap(4)} #{- gap(4)};
		padding: gap(2) gap(4);
		font-size: gap(1.6);
		border-top: 1px solid $light;

		[class*="material"] {
			margin-right: gap(0.5);
		}
	}
}


// sidebar
#sidebar {
	position: sticky;
	top: gap(3);

	.widget {
		&-title {
			font-weight: 300;
			font-size: gap(2);
			text-transform: uppercase;
		}

		&-content {
			margin: gap(2) 0 0;
			font-size: gap(1.5);
		}
	}

	.widget-category {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-top: gap(2);

				li {
					padding-left: gap(2);
				}
			}
		}

		.widget-content {
			& > ul {
				& > li {
					padding-bottom: gap(2);
					border-bottom: 1px solid rgba($secondary, 20%);
				}
			}
		}
	}

	.widget-recent {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			padding-left: gap(2);
		}
	}
}


// footer
#footer {
	padding: gap(3) 0;
	flex: 0 0 auto;
	font-size: gap(1);
	color: #2c3e50;
}

#footer-inner {
	display: flex;
	justify-content: space-between;
}
