// helpers
@import './helpers/index';

// base
@import './base/reset';
@import './base/grid';
@import './base/typography';
@import './base/colors';

// layouts
@import './layouts/common';
@import './layouts/header';
@import './layouts/footer';
@import './layouts/sidebar';

// components
@import './components/icons';
@import './components/pagination';
@import './components/tab';


// project detail
$gap: gap(4);
$padding: $gap calc(#{$gap} / 1.5);

.entry {
	background-color: #fff;
}

.entry-header {
	.title {
		padding: $padding;
		font-size: gap(2);
		font-weight: 700;
	}

	.description {
		padding: $padding;
		font-size: gap(1.7);
		color: $secondary;
		border-top: 1px solid $light;
	}
}

.entry-screenshot {
	position: relative;
	padding: $padding;

	.title {
		position: relative;
		padding-top: 0.5em;
		font-size: gap(2);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $info;
		}
	}

	.images {
		display: flex;
		margin-top: gap(2);
		gap: gap(2);
		overflow-x: auto;
		overflow-y: hidden;

		.item {
			flex: 0 0 80%;
			height: gap(40);
			border: 1px solid $light;
			overflow: hidden;

			a {
				display: block;
				height: 100%;
			}

			img {
				min-width: 100%;
				min-height: 100%;
			}
		}
	}
}

.entry-feature {
	position: relative;
	padding: $padding;

	.title {
		position: relative;
		padding-top: 0.5em;
		font-size: gap(2);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 1px;
			background-color: $info;
		}
	}

	.tab-container {
		margin-top: gap(2);
		font-size: gap(1.6);

		.tab-nav {
			display: flex;

			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: -1px;
				width: gap(4);
				height: gap(4);
				font-size: gap(1.4);
				border: 1px solid $primary;
				transition-property: color, background-color, border-color;
				transition-duration: 0.2s;

				&-active {
					font-weight: 700;
					color: $light;
					background-color: $primary;
					border-color: $primary;
				}
			}
		}

		.tab-wrapper {
			margin-top: gap(1);

			ul {
				margin: 0;
				padding: gap(3);
				list-style: none;
				background-color: $light;
				border-radius: 3px;
			}

			li {
				&:not(:first-child) {
					margin-top: gap();
				}
			}
		}
	}
}
