// helpers
@import './helpers/index';

// project
$gap: 32px;
$padding: $gap calc(#{$gap} / 1.5);

#project-list {
	.project:not(:first-child) {
		margin-top: 24px;
	}

	.project {
		display: flex;
		background-color: #fff;
	}

	.project-thumb {
		flex: 0 0 240px;
		position: relative;
		overflow: hidden;

		.view {
			display: block;
			height: 100%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}

		.cat {
			position: absolute;
			bottom: 8px;
			left: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;

			@each $k, $v in $icons {
				$color: map-get-deep($v, 'color');

				&-#{$k} {
					background-color: $color;

					.ico {
						background-image: get-icon($k, '#fff');
					}
				}
			}
		}

		.ico {
			width: 20px;
			height: 20px;
			transition: background-image 0.1s;
		}
	}

	.project-data {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $padding;
	}

	.project-title {
		font-size: 18px;
	}

	.project-info {
		margin-top: 8px;

		.date {
			font-size: 14px;
			color: $secondary;
		}

		.data {
			display: flex;
			gap: 8px;
			justify-content: space-between;
			margin-top: 12px;
		}

		.exts {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			margin-top: 8px;

			.ext {
				display: flex;
				justify-content: center;
				align-items: center;

				@each $k, $v in $icons {
					$color: map-get-deep($v, 'color');

					&:hover {
						.ico-#{$k} {
							background-color: $color;
							background-image: get-icon($k, '#fff');
						}
					}
				}
			}

			.ico {
				width: 32px;
				height: 32px;
				line-height: 0;
				background: {
					color: $light;
					size: 20px 20px;
					repeat: no-repeat;
					position: center center;
				}
				transition: background 0.2s;
			}
		}

		.langs {
			display: flex;
			flex-wrap: wrap;
			margin-top: 8px;
			gap: 8px;

			.lang {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				line-height: 0;
				transition: background-color 0.1s;
			}

			.ico {
				width: 20px;
				height: 20px;
			}
		}
	}
}

#project-detail {
	.entry {
		background-color: #fff;

		&-common {
			padding: $padding;
		}

		&-title {
			position: relative;
			padding-top: 0.5em;
			font-size: 18px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 1px;
				background-color: $info;
			}
		}

		&-content {
			margin-top: 20px;
			font-size: 16px;
		}
	}

	.entry-header {
		.title {
			padding: $padding;
			font-size: 16px;
			font-weight: 700;
		}

		.description {
			padding: $padding;
			font-size: 16px;
			color: $secondary;
			border-top: 1px solid $light;
		}
	}

	.entry-screenshot {
		.entry-content {
			display: flex;
			padding-bottom: 5px;
			gap: 16px;
			overflow-x: scroll;
			overflow-y: hidden;

			&::-webkit-scrollbar {
				height: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $primary;
				background-clip: padding-box;
				border: 3px solid transparent;
			}
			&::-webkit-scrollbar-track {
				height: 10px;
				background-color: $light;
			}

			.item {
				flex: 0 0 80%;
				height: 320px;
				border: 1px solid $light;
				overflow: hidden;

				a {
					display: block;
					height: 100%;
				}

				img {
					min-width: 100%;
					min-height: 100%;
				}
			}
		}
	}

	.entry-feature {
		.entry-content {
			.tab-nav {
				display: flex;

				&-item {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: -1px;
					padding: 0 12px;
					height: 40px;
					border: 1px solid $primary;
					transition-property: color, background-color, border-color;
					transition-duration: 0.2s;

					&-active {
						font-weight: 700;
						color: $light;
						background-color: $primary;
						border-color: $primary;
					}
				}
			}

			.tab-wrapper {
				margin-top: 8px;

				.tab-item {
					margin: 0;
					padding: 24px;
					list-style-position: inside;
					background-color: $light;
					border-radius: 3px;

					li {
						&:not(:first-child) {
							margin-top: 8px;
						}
					}
				}
			}
		}
	}

	.entry-download {
		.item {
			position: relative;
			display: flex;
			border: 1px solid $light;

			&:not(:first-child) {
				margin-top: 12px;
			}

			&-type {
				flex: 0 0 160px;
				display: flex;
				flex-direction: column;
				padding: 20px;
				font-weight: 700;
				color: $danger;
				background-color: rgba($light, 0.5);

				.label {
					flex: 1 1 auto;
					font-size: 12px;
				}

				.price {
					flex: 0 0 auto;
					font-size: 24px;
					color: $primary;
					text-align: right;
					letter-spacing: -0.02em;
				}
			}

			&-content {
				flex: 1 1 auto;
				padding: 20px;
				border-left: 1px solid $light;
			}

			&-head {
				display: flex;
				align-items: center;

				.title {
					font-size: 16px;
				}

				.version {
					margin-left: 8px;
					font-size: 12px;
				}
			}

			&-action {
				display: flex;
				gap: 16px;
				margin-top: 16px;

				.btn {
					display: inline-flex;
					align-items: center;
					height: 32px;
					font-size: 14px;
					color: $primary;
					background-color: transparent;
					border: 1px solid transparent;
					border-radius: 3px;
					transition-property: color, background-color;
					transition-duration: 0.2s;
				}

				.download {
					padding: 0 12px;
					font-weight: 700;
					color: $light;
					background-color: darken($danger, 5%);
					border-color: darken($danger, 5%);

					&:hover {
						background-color: $danger;
						border-color: $danger;
					}
				}

				.history {
					text-decoration: underline;
					text-underline-offset: 0.3em;
				}
			}

			&-note {
				margin-top: 16px;
				font-size: 12px;
				color: $secondary;
			}


			&-badge {
				position: absolute;
				top: 0;
				right: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 64px;
				height: 40px;
				font-weight: 700;
				font-size: 12px;
				color: $light;
				letter-spacing: -0.02em;
				background-color: darken($danger, 5%);
				border-radius: 0 0 5px 5px;
			}
		}
	}

	.entry-comment {
		border-top: 1px solid $light;
	}
}
