// helpers
@import './helpers/index';

// project
$gap: 32px;
$padding: $gap calc(#{$gap} / 1.5);

#project-list {
	.project:not(:first-child) {
		margin-top: 24px;
	}

	.project {
		display: flex;
		background-color: #fff;
	}

	.project-thumb {
		flex: 0 0 240px;
		position: relative;
		overflow: hidden;

		.view {
			display: block;
			height: 100%;

			img {
				position: absolute;
				bottom: 100%;
				left: 0;
				min-width: 100%;
				min-height: 100%;
				transform: translate3d(0, 100%, 0);
				transition: all 1.5s linear;
				object-fit: cover;

			}
			&:hover {
				img {
					bottom: 0;
					transform: translate3d(0, 0, 0);
				}
			}
		}

		.cat {
			position: absolute;
			bottom: 8px;
			left: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;

			@each $k, $v in $icons {
				$color: map-get-deep($v, 'color');

				&-#{$k} {
					background-color: $color;

					.ico {
						background-image: get-icon($k, '#fff');
					}
				}
			}
		}

		.ico {
			width: 20px;
			height: 20px;
			transition: background-image 0.1s;
		}
	}

	.project-data {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $padding;
	}

	.project-title {
		font-size: 18px;
	}

	.project-info {
		margin-top: 8px;

		.date {
			font-size: 14px;
			color: $secondary;
		}

		.data {
			display: flex;
			gap: 8px;
			justify-content: space-between;
			margin-top: 12px;
		}

		.exts {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			margin-top: 8px;

			.ext {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				line-height: 0;
				background-color: $light;
				transition: background-color 0.1s;

				@each $k, $v in $icons {
					$color: map-get-deep($v, 'color');

					&-#{$k}:hover {
						background-color: $color;

						.ico {
							background-image: get-icon($k, '#fff');
						}
					}
				}
			}

			.ico {
				width: 20px;
				height: 20px;
				transition: background-image 0.1s;
			}
		}

		.langs {
			display: flex;
			flex-wrap: wrap;
			margin-top: 8px;
			gap: 8px;

			.lang {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				line-height: 0;
				transition: background-color 0.1s;

				@each $k, $v in $icons {
					$color: map-get-deep($v, 'color');

					&-#{$k} .ico {
						background-image: get-icon($k, $color);
					}
				}
			}

			.ico {
				width: 20px;
				height: 20px;
			}
		}
	}
}
