@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

body,
table,
td,
th { font-family: 'Spoqa Han Sans Neo', 'AppleSDGothicNeo', 'Malgun Gothic', sans-serif; font-size: 15px; color: #222; line-height: 1.5; }

.alignnone {  }
.aligncenter,
div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
a img.alignright { float: right; }
a img.alignnone {  }
a img.alignleft { float: left; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption { margin: 1em 0; padding: 0; max-width: 100%; text-align: center; background: #fff; border-bottom: 3px solid #fafafa; }
.wp-caption:first-child { margin-top: 0; }
.wp-caption:last-child { margin-bottom: 0; }
.wp-caption.alignnone {  }
.wp-caption.alignleft {  }
.wp-caption.alignright {  }
.wp-caption img { padding: 0; margin: 0; max-width: 100%; width: auto; height: auto; border: 0; }
.wp-caption .wp-caption-text,
.wp-caption-dd { padding: 10px; font-size: 13px; color: #555; text-align: left; border-bottom: 1px dashed #e5e5e5; }

.screen-reader-text { position: absolute !important; height: 0; width: 0; white-space: nowrap; overflow: hidden; }
.screen-reader-text:focus { top: 5px; left: 5px; display: block; padding: 15px 23px 14px; clip: auto !important; width: auto; height: auto; font-size: 14px; font-weight: bold; color: #21759b; line-height: normal; text-decoration: none; background-color: #f1f1f1; border-radius: 3px; z-index: 100000;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
	        box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
}

.gallery-caption { color: #707070; display: block; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail { max-width: 100%; height: auto; }

code {
	display: inline-block;
	padding: 0 5px;
	font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', 'monospace', sans-serif;
	font-size: 85%;
	color: #c7254e;
	background-color: #fafafa;
	border-radius: 5px;
}
pre {
	position: relative;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 1em;
	font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', 'monospace', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 1.8;
	background-color: #fafafa;
	overflow: auto;

	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}
pre code {
	display: block;
	padding: 0;
	color: inherit;
	line-height: inherit;
	background-color: transparent;
}

::-moz-selection { color: #fff; background-color: #b20a0a; }
::selection { color: #fff; background-color: #b20a0a; }

a { color: #b20a0a; text-decoration: underline; }

b, strong, h1, h2, h3, h4, h5, h6, th { font-weight: 500; }

h3 { position: relative; margin-top: 50px; margin-bottom: 20px; font-size: 25px; font-weight: 400; }
h3:before { content: ''; display: block; margin-bottom: 10px; width: 40px; height: 1px; background-color: #ba2020; }

hr { margin: 30px 0; padding: 0; height: 0; border: 0; border-top: 1px solid #ddd; overflow: hidden; }

ul,
ol { padding-top: 20px; padding-bottom: 20px; background-color: #fafafa; border-radius: 5px; }

ul li,
ol li { margin-bottom: 8px; }

ul li:last-child,
ol li:last-child { margin-bottom: 0; }

table { border-collapse: collapse; table-layout: fixed; }
table th,
table td { padding: 10px; }
table th { background-color: #f5f5f5; }
