@use 'sass:math';

// 기본값
.container {
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: math.div($gutter, 2);
    left: math.div($gutter, 2);
  }
  // width: 100%;
  max-width: $container;
}

// 320px 미만의 기기에선 사이트 무조건 숨김,
// 불필요 할 경우 제거
@media all and (max-width: 319px) {
  html, body { display: none; }
}


// 정렬
$flex-align: (
  'justify-content': (
    'start': 'flex-start',
    'end': 'flex-end',
    'center': 'center',
  ),
  'align-items': (
    'start': 'flex-start',
    'end': 'flex-end',
    'center': 'center',
  ),
);

@each $k, $v in $flex-align {
  @each $i, $o in $v {
    .#{$k}-#{$i} {
      #{$k}: #{$o};
    }
  }
}
