html,
body {
  color: map.get($theme-colors, 'dark');
  font-family: $ff-default;
}

a {
  @media ($lg_up) {
    transition: color 0.2s;

    &:hover {
      color: $primary;
    }
  }
}

code {
  position: relative;
  top: rem-calc(-1);
  display: inline-block;
  color: $danger;
  font-family: 'Menlo', 'Consolas', $ff-default;
  font-size: 0.9em;
  letter-spacing: rem-calc(-0.2);
}

pre {
  padding: rem-calc(10);
  background-color: #fafafa;
  font-family: 'Menlo', 'Consolas', $ff-default;
  font-size: 0.9em;
  letter-spacing: rem-calc(-0.2);
}
