@use 'sass:map';

html,
body {
  color: map.get($theme-colors, 'dark');
  font-family: $ff-default;
}

a {
  @media ($lg_up) {
    transition: color 0.2s;

    &:hover {
      color: $primary;
    }
  }
}

$code-font-family: 'Menlo', 'Consolas', $ff-default;

code {
  display: inline-block;
  color: $danger;
  font-family: $code-font-family;
  letter-spacing: rem-calc(-0.2);
}

pre {
  padding: rem-calc(10);
  background-color: #fafafa;
  font-family: $code-font-family;
  letter-spacing: rem-calc(-0.2);
}
