// helpers
@import "./helpers";

// pages
.page-archive-portfolio {
  .container {
    display: flex;
    align-items: flex-start;
    gap: $gutter;

    @media ($sm_down) {
      margin: 0 -15px;
    }
  }

  #portfolio {
    min-width: 0;
    flex: 1 1 auto;
  }

  #portfolio-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    @media ($md_down) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media ($sm_down) {
      display: flex;
      flex-direction: column;
    }
  }

  .navigation {
    margin-top: 40px;
  }
}

.page-single-portfolio {
  .container {
    display: flex;
    align-items: flex-start;
    gap: $gutter;

    @media ($sm_down) {
      margin: 0 -15px;
    }
  }

  #portfolio-entry {
    min-width: 0;
    flex: 1 1 auto;
    padding: 40px 30px;
    background-color: #fff;

    @media ($sm_down) {
      padding: 30px 15px;
    }

    &-header {
      .title {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        word-break: keep-all;
        word-wrap: break-word;
      }

      .data {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        color: $dark;
        font-size: 12px;

        .row {
          display: flex;
        }

        .label {
          flex: 0 0 100px;
          padding: 10px;
          border-bottom: 1px solid $light;
          background-color: $light;
          font-weight: 500;
        }

        .value {
          flex: 1 1 auto;
          padding: 10px;
          border-bottom: 1px solid $light;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      gap: 20px;

      .sec-content {
        @include common-description-typhography;
      }

      .sec-screenshots {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(3, 1fr);

        img {
          border: 1px solid $light;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          object-position: top;
        }

        &.grid-1 {
          aspect-ratio: inherit;
          grid-template-columns: repeat(1, 1fr);
        }

        &.grid-2 {
          grid-template-columns: repeat(2, 1fr);
        }

        li {
          list-style: none;

          &:not(:first-child) {
            margin: 0;
          }
        }
      }
    }
  }
}
