// 기본 픽셀 배율
$pixel: 8 !default;


// 타이포그래피
$ff-default: 'Spoqa Han Sans Neo', 'AppleSDGothicNeo', 'Noto Sans CJK KR', 'Malgun Gothic', sans-serif !default;


// 색상값, 변수명 부트스트랩 카피
// 색조합: https://flatuicolors.com/palette/defo
$primary:   #2c3e50 !default;
$secondary: #7f8c8d !default;
$success:   #27ae60 !default;
$info:      #3498db !default;
$warning:   #f1c40f !default;
$danger:    #c0392b !default;
$light:     #ecf0f1 !default;
$dark:      #222 !default;

$theme-colors: (
	'primary':    $primary,
	'secondary':  $secondary,
	'success':    $success,
	'info':       $info,
	'warning':    $warning,
	'danger':     $danger,
	'light':      $light,
	'dark':       $dark
) !default;


// 반응형
$container: $pixel * 125px !default; // 8 * 125 = 1000px
$gutter: $pixel * 3.75px !default; // 8 * 3.75 = 30px

$descktop: 1024px !default;
$tablet: 768px !default;
$mobile: 375px !default;

$columns: (
	'1': 8.333333%,
	'2': 16.666666%,
	'3': 25%,
	'4': 33.333333%,
	'5': 41.666666%,
	'6': 50%,
	'7': 58.333333%,
	'8': 66.666666%,
	'9': 75%,
	'10': 83.333333%,
	'11': 91.666666%,
	'12': 100%
);


// 아이콘
$icons: (
	// 브랜드 아이콘
	// label 속성을 추가 부여해서 Tooltip으로 출력
	'css3': (
		label: 'CSS3',
		icon: '%3Cpath d="m4 3.5 1.063 12.375L10 17.5l4.906-1.625L16 3.5H4ZM13.781 6l-.156 1.5-3.594 1.531H10h3.5l-.406 4.594-3.063.875-3.094-.906-.187-2.313h1.5l.125 1.219 1.625.406 1.719-.469.125-1.937-5.219-.031-.094-1.438 3.5-1.469.188-.062H6.375L6.187 6h7.594Z"/%3E%3C/svg%3E',
		color: #30A9DC,
	),
	'github': (
		label: 'Github',
		icon: '%3Cpath d="M7.156 14.438c0-.063-.062-.126-.156-.126s-.156.063-.156.126c0 .062.062.124.156.093.094 0 .156-.031.156-.094Zm-.968-.157c0 .063.062.156.156.156a.15.15 0 0 0 .187-.062c0-.063-.031-.125-.125-.156-.093-.031-.187 0-.218.062Zm1.406-.031c-.094 0-.157.063-.157.156 0 .063.094.094.188.063s.156-.063.125-.125c0-.063-.094-.125-.156-.094Zm2.031-12C5.312 2.25 2 5.563 2 9.875c0 3.469 2.156 6.438 5.281 7.5.407.063.532-.188.532-.375v-1.938s-2.188.47-2.657-.937c0 0-.343-.906-.843-1.125 0 0-.72-.5.03-.5 0 0 .782.063 1.22.813.687 1.218 1.812.874 2.28.656.063-.5.25-.844.5-1.063-1.75-.187-3.53-.437-3.53-3.437 0-.875.25-1.281.75-1.844-.094-.219-.344-1.031.093-2.125.625-.188 2.157.844 2.157.844.625-.188 1.28-.25 1.937-.25.688 0 1.344.062 1.969.25 0 0 1.5-1.063 2.156-.844.438 1.094.156 1.906.094 2.125.5.563.812.969.812 1.844 0 3-1.844 3.25-3.594 3.437.282.25.532.719.532 1.469 0 1.031-.031 2.344-.031 2.594 0 .218.156.468.562.375 3.125-1.032 5.25-4 5.25-7.469 0-4.313-3.531-7.625-7.875-7.625ZM5.031 13.031c-.062.031-.031.125 0 .188.063.031.125.062.188.031.031-.031.031-.125-.032-.188-.062-.03-.125-.062-.156-.03Zm-.343-.25c-.032.063 0 .094.062.125.063.031.125.031.156-.031 0-.031-.031-.063-.093-.094-.063-.031-.094-.031-.125 0Zm1 1.125c-.032.031-.032.125.062.188.063.062.156.094.188.031.03-.031.03-.125-.032-.188-.062-.062-.156-.093-.218-.03Zm-.344-.469c-.063.032-.063.126 0 .188.062.063.125.094.187.063.032-.032.032-.126 0-.188-.062-.063-.125-.094-.187-.063Z"/%3E%3C/svg%3E%0A',
		color: #000,
	),
	'html5': (
		label: 'HTML5',
		icon: '%3Cpath d="m4 3.5 1.063 12.375L9.968 17.5l4.937-1.625L16 3.5H4Zm9.625 4h-5.75L8 9.063h5.5l-.438 4.624-3.062.844h-.031l-3.094-.844-.188-2.374h1.5l.126 1.187 1.656.469 1.687-.469.188-1.938H6.625l-.406-4.53h7.531L13.625 7.5Z"/%3E%3C/svg%3E',
		color: #F1672C,
	),
	'javascript': (
		label: 'JavaScript',
		icon: '%3Cpath d="M3 3.25v14h14v-14H3Zm7.594 10.938c0 1.343-.781 1.968-1.969 1.968-1.031 0-1.656-.531-1.969-1.187l1.094-.656c.188.374.375.687.844.687.406 0 .687-.188.687-.844V9.687h1.313v4.5Zm3.125 1.968c-1.219 0-2-.562-2.406-1.343l1.093-.594c.281.437.625.781 1.281.781.532 0 .907-.281.907-.656 0-.438-.375-.594-.969-.875l-.344-.125c-.937-.406-1.562-.906-1.562-2 0-.969.75-1.719 1.937-1.719.813 0 1.438.281 1.844 1.031l-1 .656c-.25-.374-.469-.562-.875-.562-.375 0-.625.25-.625.563 0 .406.25.562.813.812l.343.156c1.125.469 1.75.969 1.75 2.063 0 1.187-.937 1.812-2.187 1.812Z"/%3E%3C/svg%3E',
		color: #F1BF26,
	),
	'sass': (
		label: 'SASS',
		icon: '%3Cpath d="M10.406 13.844c0 .031 0 .031 0 0Zm7.781-2.719c-.625 0-1.25.156-1.812.438-.156-.376-.375-.688-.406-.938-.031-.281-.063-.469-.031-.781.062-.344.25-.844.25-.875 0-.031-.032-.188-.438-.188s-.75.063-.813.188c-.062.187-.124.375-.156.594-.062.343-.812 1.656-1.219 2.343-.124-.281-.25-.5-.28-.687-.032-.281-.063-.469-.032-.781.031-.344.25-.813.25-.876-.031-.03-.063-.187-.469-.187-.406 0-.75.063-.781.188-.031.093-.094.343-.156.593-.094.219-1.063 2.406-1.313 2.969-.156.281-.25.531-.344.688 0 .03 0 .03-.03.03.03 0 .03-.03.03 0-.062.126-.124.188-.124.188-.032.125-.094.219-.126.219-.03 0-.062-.281 0-.625.157-.781.5-1.938.5-1.969 0-.031.063-.25-.218-.344-.313-.093-.406.063-.438.063l-.031.063s.313-1.313-.594-1.313c-.594 0-1.375.625-1.781 1.188-.25.124-.781.437-1.344.75-.218.093-.437.218-.656.343l-.031-.031C4.469 11.156 2.406 10.312 2.5 8.719c.031-.594.219-2.125 3.969-3.969 3.062-1.531 5.5-1.125 5.937-.188.594 1.344-1.312 3.813-4.5 4.157-1.218.125-1.843-.344-2-.5-.187-.188-.187-.188-.25-.156-.125.03-.062.218 0 .312.094.25.469.688 1.125.906.594.188 2.032.281 3.75-.375 1.906-.75 3.406-2.812 2.969-4.562C13.062 2.594 10.156 2 7.375 3c-1.656.563-3.438 1.5-4.719 2.688C1.156 7.125.906 8.344 1 8.874c.375 1.844 2.906 3.031 3.906 3.938-.031.03-.093.03-.125.062-.531.25-2.437 1.281-2.937 2.344-.532 1.219.093 2.094.5 2.187 1.312.375 2.656-.281 3.375-1.343.718-1.094.625-2.47.281-3.125v-.032c.125-.062.281-.156.406-.219.25-.156.5-.28.719-.406-.125.313-.219.719-.25 1.313-.063.687.219 1.594.594 1.937.156.156.375.156.468.156.438 0 .625-.343.844-.78.281-.532.5-1.126.5-1.126s-.281 1.625.531 1.625c.282 0 .563-.375.72-.562v-.031c.03-.063.062-.094.062-.094.125-.188.375-.656.75-1.438.531-1 1-2.219 1-2.219.062.25.125.532.187.782.094.312.281.625.438.937l-.188.281c-.094.126-.219.25-.312.376-.406.5-.875 1.03-.938 1.187-.094.188-.062.313.094.438.094.062.281.093.469.062.375-.031.625-.094.75-.156.219-.094.437-.188.625-.344.406-.281.625-.688.594-1.25 0-.281-.094-.594-.22-.875.032-.031.063-.094.126-.156a21.762 21.762 0 0 0 1.094-1.906c.03.28.093.562.187.812.063.25.219.531.344.813-.563.468-.938 1.03-1.063 1.374-.219.657-.031.97.281 1.032.157.031.376-.031.563-.094.219-.094.469-.219.656-.344.407-.312.782-.719.75-1.25 0-.25-.093-.5-.187-.719.5-.218 1.156-.343 1.968-.25 1.72.22 2.063 1.313 2 1.75-.062.47-.437.72-.562.782-.125.094-.156.094-.125.156 0 .094.063.094.156.063.157-.032.907-.376.938-1.22.062-1.062-.969-2.218-2.782-2.218ZM4.781 15.656c-.562.625-1.375.875-1.718.656-.376-.218-.22-1.125.5-1.812.406-.406.968-.781 1.343-1 .094-.063.188-.125.344-.219.031 0 .031-.031.031-.031.032 0 .063-.031.094-.031.281.937.031 1.781-.594 2.437ZM9 12.812c-.219.47-.625 1.72-.875 1.657-.219-.031-.375-1-.063-1.938.157-.469.5-1.031.688-1.25.313-.344.656-.469.75-.312.094.156-.375 1.531-.5 1.844Zm3.469 1.657c-.094.031-.188.062-.219.031-.031 0 .031-.063.031-.063s.438-.468.625-.687c.094-.125.219-.25.344-.438v.063c0 .563-.563.938-.781 1.094Zm2.656-.625c-.063-.031-.031-.188.156-.625.094-.188.281-.5.594-.781.031.093.063.218.063.343 0 .688-.5.969-.813 1.063Z"/%3E%3C/svg%3E%0A',
		color: #CF649A,
	),
	'tistory': (
		label: 'Tistory',
		icon: '%3Cpath d="M5.71 7.419A1.71 1.71 0 1 0 5.71 4a1.71 1.71 0 0 0 0 3.419ZM10 7.419A1.71 1.71 0 1 0 10 4a1.71 1.71 0 0 0 0 3.419ZM10 11.71a1.71 1.71 0 1 0 0-3.42 1.71 1.71 0 0 0 0 3.42ZM10 16a1.71 1.71 0 1 0 0-3.419 1.71 1.71 0 0 0 0 3.42ZM14.29 7.419a1.71 1.71 0 1 0 0-3.419 1.71 1.71 0 0 0 0 3.419Z"/%3E%3C/svg%3E%0A',
		color: #EA5220,
	),
	'vue': (
		label: 'Vue.js',
		icon: '%3Cpath d="M14.125 4.031H11.75L10 6.781l-1.5-2.75H3L10 16l7-11.969h-2.875Zm-9.406 1h1.687L10 11.22l3.563-6.188h1.687l-5.25 9-5.281-9Z"/%3E%3C/svg%3E%0A',
		color: #50C08D,
	),
	'wordpress': (
		label: 'Wordpress',
		icon: '%3Cpath d="M3.906 7.313c-.375.812-.562 1.75-.562 2.687 0 2.656 1.531 4.906 3.75 6L3.906 7.312ZM14.47 9.688c0-.844-.281-1.407-.531-1.844-.344-.532-.657-1-.657-1.563 0-.593.469-1.187 1.094-1.187.031 0 .063 0 .094.031A6.56 6.56 0 0 0 10 3.375a6.61 6.61 0 0 0-5.563 3h.407c.718 0 1.781-.094 1.781-.094.375-.031.406.5.063.563 0 0-.375.031-.782.062l2.438 7.188L9.78 9.719 8.75 6.906l-.688-.062c-.374-.032-.312-.594.032-.563 0 0 1.094.094 1.75.094.687 0 1.781-.094 1.781-.094.344-.031.406.5.031.563 0 0-.344.031-.75.062l2.406 7.125.657-2.219c.281-.906.5-1.562.5-2.124Zm-4.375.906-2 5.812c.625.157 1.25.25 1.906.25.75 0 1.5-.125 2.188-.375 0-.031-.032-.062-.032-.093l-2.062-5.594Zm5.719-3.781c.03.218.062.437.062.687 0 .688-.125 1.438-.531 2.375l-2.031 5.875A6.593 6.593 0 0 0 16.625 10a6.532 6.532 0 0 0-.813-3.188ZM17.75 10c0-4.25-3.5-7.75-7.75-7.75-4.281 0-7.75 3.5-7.75 7.75A7.749 7.749 0 0 0 10 17.75c4.25 0 7.75-3.469 7.75-7.75Zm-.375 0c0 4.094-3.313 7.406-7.375 7.406A7.402 7.402 0 0 1 2.594 10c0-4.063 3.312-7.375 7.406-7.375 4.063 0 7.375 3.313 7.375 7.375Z"/%3E%3C/svg%3E%0A',
		color: #575C60,
	),
	'jquery': (
		label: 'jQuery',
		icon: '%3Cpath fill-rule="evenodd" d="m16.698 13.06-.058.151c-.989 1.931-2.746 3.115-5.255 3.167a7.305 7.305 0 0 1-3.016-.603 7.793 7.793 0 0 1-3.62-3.42c-1.038-2.007-1.225-4.802.932-6.89.033 0-.26.454-.229.454l-.058.194c-1.555 4.863 3.232 9.032 7.886 8.556 1.118-.116 2.543-.727 3.42-1.61" clip-rule="evenodd"/%3E%3Cpath fill-rule="evenodd" d="M13.882 11.049c1.173.007 2.394-.54 3.118-1.307-.633 1.606-2.468 2.641-4.927 2.313-2.06-.275-4.023-2.35-4.224-4.427-.148-1.51.38-2.413 1.246-3.507-.3.572-.414 1.013-.441 1.295-.33 3.27 2.611 5.615 5.228 5.631" clip-rule="evenodd"/%3E%3Cpath fill-rule="evenodd" d="M16.883 6.987c-.182.418-1.23 1.206-1.693 1.304-1.831.391-3.005-.477-3.62-1.466a4.413 4.413 0 0 1-.29-.654c-.239-.811-.13-2.037.582-2.671-.214.604-.246 1.303-.133 1.76.068.275.276.756.485 1.058.379.55.62.685 1.105.979.22.13.455.237.558.266.462.135 1.436.492 3.006-.576" clip-rule="evenodd"/%3E%3C/svg%3E%0A',
		color: #1168af,
	),
	'php': (
		label: 'PHP',
		icon: '%3Cpath d="M10 6.612c4.285 0 7.58 1.806 7.58 3.788 0 1.982-3.297 3.787-7.58 3.787-4.285 0-7.58-1.804-7.58-3.787 0-1.982 3.298-3.788 7.58-3.788Zm0-.42c-4.418 0-8 1.883-8 4.208s3.582 4.207 8 4.207 8-1.882 8-4.207-3.582-4.208-8-4.208Zm-2.545 3.87c-.197 1.013-.895.908-1.753.908l.343-1.765c.95 0 1.595-.103 1.41.857Zm-3.02 2.696h.918l.217-1.12c1.027 0 1.665.075 2.255-.478.652-.6.823-1.668.357-2.203-.242-.28-.632-.417-1.162-.417H5.253l-.818 4.218Zm4.643-5.34h.912l-.217 1.12c.787 0 1.517-.058 1.87.267.37.34.192.775-.208 2.828h-.925c.385-1.985.457-2.15.318-2.3-.135-.146-.443-.116-1.185-.116l-.47 2.415H8.26l.818-4.214Zm5.547 2.644c-.2 1.028-.918.908-1.752.908l.342-1.765c.955 0 1.595-.103 1.41.857Zm-3.02 2.696h.92l.217-1.12c1.08 0 1.678.062 2.255-.478.653-.6.823-1.668.358-2.203-.242-.28-.633-.417-1.162-.417h-1.768l-.82 4.218Z"/%3E%3C/svg%3E',
		color: #474A8A,
	),

	// UI 아이콘
	'link': (
		icon: '%3Cpath d="M12.188 7.813a5.104 5.104 0 0 0-.626-.532.518.518 0 0 0-.656.032l-.656.656c-.25.281-.375.625-.375.937 0 .188.094.313.219.406.094.063.219.157.344.25.874.907.874 2.313 0 3.188l-2.126 2.094a2.208 2.208 0 0 1-3.187 0c-.875-.875-.844-2.313.031-3.188l.407-.406c.156-.125.187-.344.125-.531a5.977 5.977 0 0 1-.313-1.625.493.493 0 0 0-.844-.344L3.375 9.906c-1.844 1.844-1.844 4.875 0 6.719 1.844 1.844 4.875 1.844 6.719 0l2.094-2.094V14.5c1.843-1.813 1.874-4.813 0-6.688Zm4.406-4.407c-1.844-1.844-4.875-1.844-6.719 0L7.781 5.5v.031c-1.843 1.813-1.875 4.813 0 6.688.188.187.407.375.625.531a.518.518 0 0 0 .656-.031l.657-.656c.25-.282.375-.626.375-.938a.488.488 0 0 0-.219-.406c-.094-.063-.219-.156-.344-.25-.875-.906-.875-2.313 0-3.188l2.125-2.093a2.208 2.208 0 0 1 3.188 0c.875.875.844 2.312-.031 3.187l-.407.406c-.156.125-.187.344-.125.531.188.532.281 1.094.313 1.626 0 .437.531.656.844.343l1.156-1.156c1.843-1.844 1.843-4.875 0-6.719Z"/%3E%3C/svg%3E%0A',
		color: $primary,
	),
	'angle-left': (
		icon: '%3Cpath d="M6.969 9.469c-.282.312-.282.781 0 1.062l4.25 4.25c.312.313.781.313 1.062 0l.719-.687c.281-.313.281-.781 0-1.063L9.969 10 13 7a.775.775 0 0 0 0-1.063l-.719-.718c-.281-.282-.75-.282-1.062 0l-4.25 4.25Z"/%3E%3C/svg%3E%0A',
		color: $primary,
	),
	'angle-right': (
		icon: '%3Cpath d="M13 10.531c.281-.281.281-.75 0-1.062l-4.25-4.25c-.313-.282-.781-.282-1.063 0l-.718.718c-.282.313-.282.782 0 1.063L10 10.031l-3.031 3c-.282.281-.282.75 0 1.063l.718.687c.282.313.75.313 1.063 0l4.25-4.25Z"/%3E%3C/svg%3E%0A',
		color: $primary,
	),
	'north-east': (
		icon: '%3Cpath d="M7.50004 4.16667V5.83333H12.9917L3.33337 15.4917L4.50837 16.6667L14.1667 7.00833V12.5H15.8334V4.16667H7.50004Z"/%3E%3C/svg%3E%0A',
		color: $primary,
	),
) !default;
