.page-contact-form .container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.page-contact-form #contact {
  min-width: 0;
  max-width: 600px;
  flex: 1 1 auto;
  margin: 0 auto;
}
.page-contact-form #contact .form-row {
  display: flex;
  align-items: center;
}
.page-contact-form #contact .form-row:not(:first-child) {
  margin-top: 20px;
}
.page-contact-form #contact .form-label {
  display: block;
  flex: 0 0 100px;
  font-size: 13px;
}
.page-contact-form #contact .form-row-message {
  justify-content: center;
  padding: 20px 15px;
  border: 1px solid;
  margin-bottom: 50px;
  background-color: rgba(92, 0, 155, 0.05);
  color: #5c009b;
  font-size: 12px;
  font-weight: 500;
  overflow-wrap: break-word;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}
.page-contact-form #contact .form-row-submit {
  position: relative;
}
.page-contact-form #contact span {
  display: block;
  flex: 1 1 auto;
}
.page-contact-form #contact input,
.page-contact-form #contact textarea {
  display: block;
  width: 100%;
  border: 1px solid #cfd9db;
  background-color: #fff;
  font-size: 14px;
}
.page-contact-form #contact input {
  height: 40px;
  padding: 0 10px;
}
.page-contact-form #contact textarea {
  min-height: 200px;
  padding: 10px;
  resize: vertical;
}
.page-contact-form #contact input[type=submit] {
  height: 50px;
  border: 0;
  background-color: #000;
  color: #ecf0f1;
  font-size: 14px;
}
.page-contact-form #contact .wpcf7-not-valid-tip {
  margin-top: 10px;
  color: #c0392b;
  font-size: 12px;
}
.page-contact-form #contact .wpcf7-response-output {
  padding: 10px 15px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  font-size: 12px;
}
.page-contact-form #contact .wpcf7-spinner {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/page-contact-form.scss%22,%22../scss/helpers/_variables.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAME;EACE;EACA;EACA,KCuBK;;ADpBP;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA,kBC/DC;EDgED,OCjEE;EDkEF;;AAGF;EACE;EACA,OCxEG;EDyEH;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA%22,%22file%22:%22page-contact-form.css%22,%22sourcesContent%22:%5B%22//%20helpers%5Cn@use%20%5C%22./helpers/variables%5C%22%20as%20*;%5Cn@use%20%5C%22./helpers/mixins%5C%22%20as%20*;%5Cn%5Cn//%20pages%5Cn.page-contact-form%20%7B%5Cn%20%20.container%20%7B%5Cn%20%20%20%20display:%20flex;%5Cn%20%20%20%20align-items:%20flex-start;%5Cn%20%20%20%20gap:%20$gutter;%5Cn%20%20%7D%5Cn%5Cn%20%20%23contact%20%7B%5Cn%20%20%20%20min-width:%200;%5Cn%20%20%20%20max-width:%20600px;%5Cn%20%20%20%20flex:%201%201%20auto;%5Cn%20%20%20%20margin:%200%20auto;%5Cn%5Cn%20%20%20%20.form-row%20%7B%5Cn%20%20%20%20%20%20display:%20flex;%5Cn%20%20%20%20%20%20align-items:%20center;%5Cn%5Cn%20%20%20%20%20%20&:not(:first-child)%20%7B%5Cn%20%20%20%20%20%20%20%20margin-top:%2020px;%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.form-label%20%7B%5Cn%20%20%20%20%20%20display:%20block;%5Cn%20%20%20%20%20%20flex:%200%200%20100px;%5Cn%20%20%20%20%20%20font-size:%2013px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.form-row-message%20%7B%5Cn%20%20%20%20%20%20justify-content:%20center;%5Cn%20%20%20%20%20%20padding:%2020px%2015px;%5Cn%20%20%20%20%20%20border:%201px%20solid;%5Cn%20%20%20%20%20%20margin-bottom:%2050px;%5Cn%20%20%20%20%20%20background-color:%20rgba(%235c009b,%205%25);%5Cn%20%20%20%20%20%20color:%20%235c009b;%5Cn%20%20%20%20%20%20font-size:%2012px;%5Cn%20%20%20%20%20%20font-weight:%20500;%5Cn%20%20%20%20%20%20overflow-wrap:%20break-word;%5Cn%20%20%20%20%20%20text-align:%20center;%5Cn%20%20%20%20%20%20word-break:%20keep-all;%5Cn%20%20%20%20%20%20word-wrap:%20break-word;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.form-row-submit%20%7B%5Cn%20%20%20%20%20%20position:%20relative;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20span%20%7B%5Cn%20%20%20%20%20%20display:%20block;%5Cn%20%20%20%20%20%20flex:%201%201%20auto;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20input,%5Cn%20%20%20%20textarea%20%7B%5Cn%20%20%20%20%20%20display:%20block;%5Cn%20%20%20%20%20%20width:%20100%25;%5Cn%20%20%20%20%20%20border:%201px%20solid%20$border-color;%5Cn%20%20%20%20%20%20background-color:%20%23fff;%5Cn%20%20%20%20%20%20font-size:%2014px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20input%20%7B%5Cn%20%20%20%20%20%20height:%2040px;%5Cn%20%20%20%20%20%20padding:%200%2010px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20textarea%20%7B%5Cn%20%20%20%20%20%20min-height:%20200px;%5Cn%20%20%20%20%20%20padding:%2010px;%5Cn%20%20%20%20%20%20resize:%20vertical;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20input%5Btype=%5C%22submit%5C%22%5D%20%7B%5Cn%20%20%20%20%20%20height:%2050px;%5Cn%20%20%20%20%20%20border:%200;%5Cn%20%20%20%20%20%20background-color:%20$dark;%5Cn%20%20%20%20%20%20color:%20$light;%5Cn%20%20%20%20%20%20font-size:%2014px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.wpcf7-not-valid-tip%20%7B%5Cn%20%20%20%20%20%20margin-top:%2010px;%5Cn%20%20%20%20%20%20color:%20$danger;%5Cn%20%20%20%20%20%20font-size:%2012px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.wpcf7-response-output%20%7B%5Cn%20%20%20%20%20%20padding:%2010px%2015px;%5Cn%20%20%20%20%20%20margin-right:%200;%5Cn%20%20%20%20%20%20margin-left:%200;%5Cn%20%20%20%20%20%20background-color:%20%23fff;%5Cn%20%20%20%20%20%20font-size:%2012px;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20.wpcf7-spinner%20%7B%5Cn%20%20%20%20%20%20position:%20absolute;%5Cn%20%20%20%20%20%20top:%200;%5Cn%20%20%20%20%20%20right:%2015px;%5Cn%20%20%20%20%20%20bottom:%200;%5Cn%20%20%20%20%20%20margin:%20auto%200;%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%7D%5Cn%22,%22//%20use%5Cn@use%20%5C%22sass:color%5C%22;%5Cn%5Cn//%20%ED%83%80%EC%9D%B4%ED%8F%AC%EA%B7%B8%EB%9E%98%ED%94%BC%5Cn$ff-base-size:%2016px;%5Cn$ff-default:%20%5C%22Pretendard%5C%22,%20%5C%22AppleSDGothicNeo%5C%22,%20%5C%22Noto%20Sans%20CJK%20KR%5C%22,%5Cn%20%20%5C%22Malgun%20Gothic%5C%22,%20sans-serif;%5Cn%5Cn//%20%EC%83%89%EC%83%81%EA%B0%92,%20%EB%B3%80%EC%88%98%EB%AA%85%20%EB%B6%80%ED%8A%B8%EC%8A%A4%ED%8A%B8%EB%9E%A9%20%EC%B9%B4%ED%94%BC%5Cn//%20%EC%83%89%EC%A1%B0%ED%95%A9:%20https://flatuicolors.com/palette/defo%5Cn$primary:%20%23b20a0a;%5Cn$secondary:%20%23595959;%5Cn$success:%20%2327ae60;%5Cn$info:%20%233498db;%5Cn$warning:%20%23f1c40f;%5Cn$danger:%20%23c0392b;%5Cn$light:%20%23ecf0f1;%5Cn$dark:%20%23000;%5Cn%5Cn$theme-colors:%20(%5Cn%20%20%5C%22primary%5C%22:%20$primary,%5Cn%20%20%5C%22secondary%5C%22:%20$secondary,%5Cn%20%20%5C%22success%5C%22:%20$success,%5Cn%20%20%5C%22info%5C%22:%20$info,%5Cn%20%20%5C%22warning%5C%22:%20$warning,%5Cn%20%20%5C%22danger%5C%22:%20$danger,%5Cn%20%20%5C%22light%5C%22:%20$light,%5Cn%20%20%5C%22dark%5C%22:%20$dark,%5Cn);%5Cn%5Cn//%20%EB%B0%98%EC%9D%91%ED%98%95%5Cn$container:%201080px;%5Cn$gutter:%2032px;%5Cn%5Cn//%20breakpoints%5Cn$lg_up:%20%5C%22min-width:%20%23%7B1024px%7D%5C%22;%5Cn$md_up:%20%5C%22min-width:%20%23%7B768px%7D%5C%22;%5Cn$sm_up:%20%5C%22max-width:%20%23%7B425px%7D%5C%22;%5Cn%5Cn$lg_down:%20%5C%22max-width:%20%23%7B1023px%7D%5C%22;%5Cn$md_down:%20%5C%22max-width:%20%23%7B767px%7D%5C%22;%5Cn$sm_down:%20%5C%22max-width:%20%23%7B424px%7D%5C%22;%5Cn%5Cn//%20%EB%B8%8C%EB%9E%9C%EB%93%9C%EB%B3%84%20%EB%8C%80%ED%91%9C%20%EC%83%89%EC%83%81%5Cn$brand-colors:%20(%5Cn%20%20%5C%22css3%5C%22:%20%5C%22%2330A9DC%5C%22,%5Cn%20%20%5C%22github%5C%22:%20%5C%22%23000%5C%22,%5Cn%20%20%5C%22html5%5C%22:%20%5C%22%23F1672C%5C%22,%5Cn%20%20%5C%22javascript%5C%22:%20%5C%22%23F1BF26%5C%22,%5Cn%20%20%5C%22jquery%5C%22:%20%5C%22%231168af%5C%22,%5Cn%20%20%5C%22php%5C%22:%20%5C%22%238892BF%5C%22,%5Cn%20%20%5C%22react%5C%22:%20%5C%22%2361DAFB%5C%22,%5Cn%20%20%5C%22sass%5C%22:%20%5C%22%23CF649A%5C%22,%5Cn%20%20%5C%22tistory%5C%22:%20%5C%22%23EA5220%5C%22,%5Cn%20%20%5C%22vue%5C%22:%20%5C%22%2350C08D%5C%22,%5Cn%20%20%5C%22wordpress%5C%22:%20%5C%22%23575C60%5C%22,%5Cn);%5Cn%5Cn//%20%EC%BB%A4%EC%8A%A4%ED%85%80%20%ED%85%8C%EB%A7%88%20%EC%BB%AC%EB%9F%AC%5Cn$border-color:%20color.adjust($light,%20$lightness:%20-10%25);%5Cn%22%5D%7D */
