#entry {
  padding: rem-calc(40 30);
  background-color: #fff;

  @include small {
    margin: rem-calc(0 -15);
    padding: rem-calc(30 15);
  }

  &-header {
    .title {
      font-size: rem-calc(18);
      font-weight: 500;
      word-break: keep-all;
      word-wrap: break-word;
    }

    .data {
      display: flex;
      gap: rem-calc(12);
      flex-wrap: wrap;
      margin-top: rem-calc(12);
      font-size: rem-calc(12);
      color: $secondary;

      @include mobile {
        .categories {
          order: 2;
          flex-basis: 100%;
        }
      }
    }
  }

  &-container {
    padding-top: rem-calc(40);
    font-size: rem-calc(14);
    line-height: 1.8;

    a {
      color: $primary;
      text-decoration: underline;
    }

    h3 {
      position: relative;
      margin-top: rem-calc(50);
      margin-bottom: rem-calc(20);
      font-size: rem-calc(22);
      font-weight: 400;

      &:before {
        content: '';
        display: block;
        margin-bottom: rem-calc(10);
        width: rem-calc(40);
        height: rem-calc(1);
        background-color: $primary;
      }
    }

    hr {
      margin: rem-calc(30 0);
      padding: 0;
      height: 0;
      border: 0;
      border-top: rem-calc(1) solid #ddd;
      overflow: hidden;
    }

    & > ul,
    & > ol {
      padding-right: rem-calc(30);
    }

    ul,
    ol {
      background-color: #fafafa;
      border-radius: rem-calc(5);
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }

    ul li,
    ol li {
      margin-bottom: rem-calc(8);
    }

    ul li:last-child,
    ol li:last-child {
      margin-bottom: 0;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;

      th,
      td {
        padding: rem-calc(10);
      }

      th {
        background-color: #f5f5f5;
      }
    }
  }

  &-tags {
    margin-top: rem-calc(48);
    padding-top: rem-calc(24);
    font-size: rem-calc(12);
    color: $secondary;
    border-top: rem-calc(1) solid $light;

    a {
      display: inline-block;
      padding: rem-calc(2 4);
      background-color: $light;
      transition: {
        property: color, background-color;
        duration: 0.1s;
      }

      &:hover {
        color: #fff;
        background-color: $primary;
      }

      &:not(:first-child) {
        margin-left: rem-calc(4);
      }
    }
  }
}
