#entry {
  padding: rem-calc(40 30);
  background-color: #fff;

  @include small {
    margin: rem-calc(0 -15);
    padding: rem-calc(30 15);
  }

  &-header {
    .title {
      font-size: rem-calc(18);
      font-weight: 500;
      word-break: keep-all;
      word-wrap: break-word;
    }

    .data {
      display: flex;
      gap: rem-calc(12);
      flex-wrap: wrap;
      margin-top: rem-calc(12);
      font-size: rem-calc(12);
      color: $secondary;

      @include mobile {
        .categories {
          order: 2;
          flex-basis: 100%;
        }
      }
    }
  }

  &-container {
    padding-top: rem-calc(40);
    @include common-description-typhography;
  }

  &-tags {
    margin-top: rem-calc(48);
    padding-top: rem-calc(24);
    font-size: rem-calc(12);
    color: $secondary;
    border-top: rem-calc(1) solid $light;

    a {
      display: inline-block;
      padding: rem-calc(2 4);
      background-color: $light;

      &:hover {
        color: #fff;
        background-color: $primary;
      }

      &:not(:first-child) {
        margin-left: rem-calc(4);
      }
    }
  }

  &-comment {
    margin-top: rem-calc(30);
    padding: rem-calc(30);
    background-color: #fff;

    @include small {
      margin: rem-calc(30 -15 0);
      padding: rem-calc(30 15);
    }
  }
}

#project-entry {
  padding: rem-calc(40 30);
  background-color: #fff;

  @include small {
    margin: rem-calc(0 -15);
    padding: rem-calc(30 15);
  }

  &-header {
    .title {
      font-size: rem-calc(18);
      font-weight: 500;
      word-break: keep-all;
      word-wrap: break-word;
    }

    .data {
      display: flex;
      gap: rem-calc(12);
      flex-wrap: wrap;
      margin-top: rem-calc(12);
      font-size: rem-calc(12);
      color: $secondary;

      .label {
        font-weight: 500;
      }
    }
  }

  &-container {
    padding-top: rem-calc(40);
    @include common-description-typhography;
  }

  .sec {
    margin-top: rem-calc(70);
  }

  .sec-screenshot {
    position: relative;

    .sec-content {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent;
      }

      li {
        margin: 0;
        height: auto;
      }

      a {
        position: relative;
        display: block;
        padding-top: 56.25%;
        border: rem-calc(1) solid $border-color;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }

      .navigation {
        display: flex;
        justify-content: flex-end;
        font-size: rem-calc(25);
        line-height: 0;

        .arrows {
          margin-top: rem-calc(20);
          line-height: inherit;

          &:not([disabled]):hover {
            color: $primary;
          }
        }
      }
    }
  }

  .sec-download {
    .sec-content {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent;
        border-radius: 0;
      }

      svg {
        width: rem-calc(32);
        height: rem-calc(32);
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: rem-calc(0 18 0 6);
      height: rem-calc(35);
      font-size: rem-calc(12);
      font-weight: 600;
      color: $secondary;
      text-decoration: none;
      text-transform: uppercase;
      border: rem-calc(2) solid $secondary;
      border-radius: rem-calc(5);

      &:hover {
        color: #fff;
        border-color: $primary;
        background-color: $primary;
      }
    }
  }
}
