#footer {
  padding: rem-calc(40 0 86);
  font-size: rem-calc(14);
  color: $secondary;

  .title {
    font-size: rem-calc(26);
    font-weight: 400;
  }

  .copyright {
    margin-top: rem-calc(6);
  }

  .navigation {
    ul {
      @include reset-list;
      margin-top: rem-calc(28);
      padding-top: rem-calc(28);
      border-top: rem-calc(1) solid $light;

      li:not(:first-child) {
        margin-top: rem-calc(10);
      }
    }
  }
}
