#header {
  background-color: $light;

  @include mobile {
    color: $light;
    background-color: $dark;
  }

  .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: rem-calc(100);

    @include mobile {
      align-items: center;
      padding: rem-calc(10 0);
      height: auto;
    }
  }

  .title {
    font-size: rem-calc(28);

    @include mobile {
      font-size: rem-calc(16);
    }
  }

  .navigation {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      @include mobile {
        margin-right: rem-calc(-10);
      }
    }

    a {
      display: block;
      padding: rem-calc(16 20);
      font-size: rem-calc(14);
      text-transform: uppercase;

      @include mobile {
        padding: rem-calc(0 10);
        font-size: rem-calc(12);
      }
    }
  }
}
