// 타이포그래피
$rem-base: 16px !default;
$ff-default: 'Pretendard', 'AppleSDGothicNeo', 'Noto Sans CJK KR', 'Malgun Gothic', sans-serif !default;


// 색상값, 변수명 부트스트랩 카피
// 색조합: https://flatuicolors.com/palette/defo
$primary:   #b20a0a !default;
$secondary: #595959 !default;
$success:   #27ae60 !default;
$info:      #3498db !default;
$warning:   #f1c40f !default;
$danger:    #c0392b !default;
$light:     #ecf0f1 !default;
$dark:      #000 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


// 반응형
$container: 1080px !default;
$gutter: 32px !default;

// breakpoints
$lg_up: 'min-width: #{1024px}';
$md_up: 'min-width: #{768px}';
$sm_up: 'max-width: #{425px}';

$lg_down: 'max-width: #{1023px}';
$md_down: 'max-width: #{767px}';
$sm_down: 'max-width: #{424px}';


// 브랜드별 대표 색상
$brand-colors: (
  "css3":       "#30A9DC",
  "github":     "#000",
  "html5":      "#F1672C",
  "javascript": "#F1BF26",
  "jquery":     "#1168af",
  "php":        "#8892BF",
  "react":      "#61DAFB",
  "sass":       "#CF649A",
  "tistory":    "#EA5220",
  "vue":        "#50C08D",
  "wordpress":  "#575C60",
);


// 커스텀 테마 컬러
$border-color: color.adjust($light, $lightness: -10%);
