// tooltip
[data-tooltip] {
  position: relative;
  z-index: 10;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    background-color: $dark;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &::before {
    @include disable();
    z-index: 2;
    bottom: calc(100% + rem-calc(6));
    padding: rem-calc(3 5);
    border-radius: rem-calc(3);
    color: #fff;
    content: attr(data-tooltip);
    font-size: rem-calc(12);
    font-weight: 500;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &::after {
    @include disable();
    z-index: 1;
    bottom: calc(100% + rem-calc(4));
    width: rem-calc(4);
    height: rem-calc(4);
    content: '';
    transform: translateX(-50%) rotate(45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}
