// common use
@use 'sass:math';
@use "sass:list";

// helpers
@import './helpers/index';

// pages
.page-index {
  .container {
    display: flex;
    gap: $gutter;
  }

  #contact {
    flex: 1 1 auto;
  }
}
