// common use
@use 'sass:math';
@use "sass:list";

// helpers
@import './helpers/index';

// pages
.page-archive-study {
  .container {
    display: flex;
    align-items: flex-start;
    gap: $gutter;

    @media ($sm_down) {
      margin: rem-calc(0 -15);
    }
  }

  #study {
    min-width: 0;
    flex: 1 1 auto;
  }
}
