// common use
@use 'sass:math';
@use "sass:list";

// helpers
@import './helpers/index';

// pages
.page-index {
  .container {
    display: flex;
    align-items: flex-start;
    gap: $gutter;
  }

  #posts,
  #contact {
    min-width: 0;
    flex: 1 1 auto;
  }
}

.page-single {
  .container {
    display: flex;
    align-items: flex-start;
    gap: $gutter;
  }

  #entry {
    min-width: 0;
    flex: 1 1 auto;
  }
}
