// use
@use "../helpers/variables" as *;

// styles
#overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.2);

  &.active {
    display: block;
  }
}
