.ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0;
	line-height: 0;
	text-indent: -100%;
	vertical-align: middle;
	overflow: hidden;
}

@each $k, $v in $icons {
	.ico-#{$k} {
		background-image: get-icon(#{$k});
	}
}
