//
// 모달 공통
//
.modal {
	@include fullscreen(11, 'fixed');
	display: none;
	padding: gap(3);
	overflow: hidden;
	overflow-y: auto;

	&-outer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100%;
	}

	&.active {
		display: block;
	}
}

//
// 프로젝트 상세페이지 모달
//

// 변경사항 모달
#change-log {
	padding: 20px;
	width: 500px;
	background-color: #fff;
}
