.pagination {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	.page-numbers {
		padding: 4px 8px;
		font-size: 12px;
		line-height: 1;
	}

	.page-numbers.current {
		font-weight: 700;
		color: $primary;
	}
}
