#offcanvas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  padding: rem-calc(50 30 100);
  max-width: rem-calc(320);
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .widget {
    &:not(:first-child) {
      margin-top: rem-calc(32);
    }
  }

  .widget-search {
    input {
      padding: rem-calc(0 15);
      height: rem-calc(40);
      font-size: rem-calc(16);
      width: 100%;
      border: rem-calc(1) solid $border-color;

      &::placeholder {
        font-size: rem-calc(14);
      }
    }
  }

  .widget-title {
    font-size: rem-calc(16);
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
  }

  .widget-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: rem-calc(14);
    }

    .menu {
      margin-top: rem-calc(12);

      & > li {
        padding-bottom: rem-calc(14);
      }
    }

    .current-menu-item > a {
      color: $primary;
    }
  }

  .widget-category {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: rem-calc(14);
    }

    .cat {
      margin-top: rem-calc(12);

      & > li {
        padding-bottom: rem-calc(14);
      }
    }

    .children {
      li {
        margin-top: rem-calc(4);
        color: $secondary;

        &:before {
          position: relative;
          top: rem-calc(-1);
          margin-right: rem-calc(8);
          color: $border-color;

          // material icons
          content: '\e5cc';
          font: {
            family: 'Material Symbols Outlined';
            size: rem-calc(18);
          }
          vertical-align: middle;
        }

        ul {
          li {
            padding-left: rem-calc(16);
          }
        }
      }
    }

    .current-cat > a {
      color: $primary;
    }
  }
}

#toggle-offcanvas {
  display: none;
  position: fixed;
  bottom: rem-calc(30);
  right: rem-calc(15);
  z-index: 102;
  padding-bottom: rem-calc(2);
  width: rem-calc(40);
  height: rem-calc(40);
  font-size: rem-calc(16);
  color: $dark;
  text-align: center;
  background-color: #fff;
  border: rem-calc(1) solid darken($light, 5%);
  border-radius: rem-calc(3);

  .icon_active {
    display: none;
  }

  @include mobile {
    display: block;
  }
}

$adminbarHeight: (
  32px, // desktop
  46px  // mobile
);
body.admin-bar {
  #offcanvas {
    @include mobile {
      top: list.nth($adminbarHeight, 2);
    }
  }
}

html.offcanvas-active {
  @include min-w($tablet) {
    &.scroll-lock {
      overflow: visible;
    }

    #overlay.active {
      display: none;
    }
  }

  @include mobile {
    #offcanvas {
      display: block;
    }

    #toggle-offcanvas {
      .icon_deactive {
        display: none;
      }

      .icon_active {
        display: block;
      }
    }
  }
}
