// variables
$adminbarHeight: (
  32px, // desktop
  46px  // mobile
);

$offcanvasWidth: rem-calc(320);

// styles
#offcanvas {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  width: 100%;
  max-width: $offcanvasWidth;
  padding: rem-calc(50 30 100);
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;

  .widget {
    line-height: 1;

    &:not(:first-child) {
      margin-top: rem-calc(32);
    }

    ul {
      padding: 0;
      margin: 0;
      font-size: rem-calc(14);
      list-style: none;
    }
  }

  .widget-search {
    input {
      width: 100%;
      height: rem-calc(40);
      padding: rem-calc(0 15);
      border: rem-calc(1) solid $border-color;
      font-size: rem-calc(16);

      &::placeholder {
        font-size: rem-calc(14);
      }
    }
  }

  .widget-title {
    color: $dark;
    font-size: rem-calc(16);
    font-weight: 500;
    text-transform: uppercase;
  }

  .widget-menu {
    .menu-item {
      margin-top: rem-calc(20);
    }

    .current-menu-item > a {
      color: $primary;
    }
  }

  .widget-category {
    .cat {
      margin-top: rem-calc(12);
    }

    .cat-item {
      margin-top: rem-calc(20);
    }

    .children {
      .cat-item {
        color: $secondary;

        &:before {
          position: relative;
          top: rem-calc(-1);
          margin-right: rem-calc(8);
          color: $border-color;

          // material icons
          content: '\e5cc';
          font: {
            family: 'Material Symbols Outlined';
            size: rem-calc(18);
          }
          vertical-align: middle;
        }

        ul {
          li {
            padding-left: rem-calc(16);
          }
        }
      }
    }

    .current-cat > a {
      color: $primary;
    }
  }
}

#toggle-offcanvas {
  position: fixed;
  z-index: 102;
  right: rem-calc(15);
  bottom: rem-calc(30);
  display: none;
  width: rem-calc(40);
  height: rem-calc(40);
  padding-bottom: rem-calc(2);
  /* stylelint-disable-next-line scss/no-global-function-names */
  border: rem-calc(1) solid darken($light, 5%);
  background-color: #fff;
  border-radius: rem-calc(3);
  color: $dark;
  font-size: rem-calc(16);
  text-align: center;

  .icon_active {
    display: none;
  }

  @include mobile {
    display: block;
  }
}

// 어드민바 처리
body.admin-bar {
  #offcanvas {
    @include mobile {
      top: list.nth($adminbarHeight, 2);
    }
  }
}

// 사이드바 열림 처리
html.offcanvas-active {
  @include min-w($tablet) {
    &.scroll-lock {
      overflow: visible;
    }

    #overlay.active {
      display: none;
    }
  }

  @include mobile {
    #offcanvas {
      transform: translate3d(-$offcanvasWidth, 0, 0);
    }

    #toggle-offcanvas {
      .icon_deactive {
        display: none;
      }

      .icon_active {
        display: block;
      }
    }
  }
}
