.pagination {
  .nav-links {
    display: flex;
    justify-content: center;
    margin-top: rem-calc(60);

    .page-numbers {
      display: flex;
      height: rem-calc(32);
      align-items: center;
      padding: rem-calc(0 12);
      border: rem-calc(1) solid $border-color;
      margin-left: rem-calc(-1);
      background-color: #fff;
      color: $secondary;
      font-size: rem-calc(12);

      &:first-child {
        margin-left: 0;
        border-radius: rem-calc(5 0 0 5);
      }

      &:last-child {
        border-radius: rem-calc(0 5 5 0);
      }

      .icon {
        position: relative;
        top: rem-calc(-0.5);
        font-size: rem-calc(18);
      }

      @include hover() {
        transition: color 0.2s;

        &:hover {
          color: $primary;
        }
      }
    }

    .current {
      background-color: $light;
      color: $dark;
    }

    .prev {
      padding-left: rem-calc(5);
    }

    .next {
      padding-right: rem-calc(5);
    }

    @include tablet {
      .prev,
      .next {
        padding: rem-calc(0 5);

        .text {
          display: none;
        }
      }
    }
  }
}
