@use "sass:list";

#sidebar {
  height: 100%;

  @include mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    padding: rem-calc(50 30 100);
    max-width: rem-calc(320);
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .widget {
    font-size: rem-calc(14);

    &-title {
      font-size: rem-calc(13);
      font-weight: 600;
      color: $dark;
      text-transform: uppercase;
    }

    &:not(:first-of-type) {
      margin-top: rem-calc(50);
    }
  }

  .widget-search {
    form {
      display: flex;
      height: rem-calc(50);
      background-color: #fff;
      border: rem-calc(1) solid darken($light, 10%);
    }

    input {
      flex: 1 1 auto;
      padding: 0 rem-calc(10);
      width: 100%;
      height: 100%;
    }

    button {
      flex: 0 0 auto;
      padding-bottom: rem-calc(2);
      width: rem-calc(50);
      font-size: rem-calc(20);
      height: 100%;
    }
  }

  .widget-category {
    position: sticky;
    top: rem-calc(30);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: rem-calc(14);
    }

    .menu {
      margin-top: rem-calc(24);

      & > li {
        padding-bottom: rem-calc(14);
      }
    }

    .sub-menu {
      li {
        margin-top: rem-calc(4);
        color: $secondary;

        &:first-child {
          margin-top: rem-calc(8);
        }

        &:before {
          position: relative;
          top: rem-calc(-1);
          margin-right: rem-calc(8);
          color: darken($light, 10%);

          // material icons
          content: '\e5cc';
          font: {
            family: 'Material Symbols Outlined';
            size: rem-calc(18);
          }
          vertical-align: middle;
        }

        ul {
          li {
            padding-left: rem-calc(16);
          }
        }
      }
    }

    .current-menu-item > a {
      color: $primary;
    }
  }
}

$adminbarHeight: (32px, 46px);
body.admin-bar {
  #sidebar {
    @include mobile {
      top: list.nth($adminbarHeight, 2);
    }

    .widget-category {
      top: calc(rem-calc(30) + list.nth($adminbarHeight, 1));
    }
  }
}

#toggle-sidebar {
  display: none;
  position: fixed;
  bottom: rem-calc(30);
  right: rem-calc(15);
  z-index: 102;
  padding-bottom: rem-calc(2);
  width: rem-calc(50);
  height: rem-calc(50);
  font-size: rem-calc(20);
  text-align: center;
  background-color: #fff;
  border: rem-calc(1) solid darken($light, 5%);
  border-radius: rem-calc(3);

  @include mobile {
    display: block;
  }
}

html.sidebar-active {
  @include min-w($tablet) {
    &.scroll-lock {
      overflow: visible;
    }

    #overlay.active {
      display: none;
    }
  }

  @include mobile {
    #sidebar {
      display: block;
    }
  }
}
