.sidebar {
  width: rem-calc(240);
  flex: 0 0 auto;

  @media ($lg_down) {
    display: none;
  }

  .widget {
    font-size: rem-calc(14);

    &-title {
      color: $dark;
      font-size: rem-calc(13);
      font-weight: 600;
      text-transform: uppercase;
    }

    &-content {
      margin-top: rem-calc(20);
    }

    &:not(:first-of-type) {
      margin-top: rem-calc(50);
    }
  }

  .widget-search {
    form {
      display: flex;
      height: rem-calc(50);
      border: rem-calc(1) solid $border-color;
      background-color: #fff;
    }

    input {
      width: 100%;
      height: 100%;
      flex: 1 1 auto;
      padding: 0 rem-calc(10);
    }

    button {
      width: rem-calc(50);
      height: 100%;
      flex: 0 0 auto;
      padding-bottom: rem-calc(2);
      font-size: rem-calc(20);
    }
  }

  .widget-category {
    line-height: 1;

    ul {
      padding: 0;
      margin: 0;
      font-size: rem-calc(14);
      list-style: none;
    }

    .cat {
      margin-top: rem-calc(24);
    }

    .cat-item {
      margin-top: rem-calc(20);
    }

    .children {
      .cat-item {
        color: $secondary;

        &:before {
          position: relative;
          top: rem-calc(-1);
          margin-right: rem-calc(8);
          color: $border-color;

          // material icons
          content: '\e5cc';
          font: {
            family: 'Material Symbols Outlined';
            size: rem-calc(18);
          }
          vertical-align: middle;
        }

        ul {
          li {
            padding-left: rem-calc(16);
          }
        }
      }
    }

    .current-cat > a {
      color: $primary;
    }
  }

  .widget-banners {
    a {
      display: block;

      &:not(:first-child) {
        margin-top: rem-calc(10);
      }
    }
  }
}
