.notice.notice-warning.is-dismissible:has(a[href*=meta-box-updater]) {
  display: none !important;
  background-color: red;
}

#aioseo-primary-term-portfolio-type {
  display: none !important;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/admin.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAMA;EACE;EACA;;;AAGF;EACE%22,%22file%22:%22admin.css%22,%22sourcesContent%22:%5B%22//%20helpers%5Cn@use%20%5C%22./helpers/variables%5C%22%20as%20*;%5Cn@use%20%5C%22./helpers/mixins%5C%22%20as%20*;%5Cn%5Cn//%20pages%5Cn//%20%EB%A9%94%ED%83%80%EB%B0%95%EC%8A%A4%20%EA%B3%B5%EC%A7%80%20%EC%88%A8%EA%B8%B0%EA%B8%B0%5Cn.notice.notice-warning.is-dismissible:has(a%5Bhref*=%5C%22meta-box-updater%5C%22%5D)%20%7B%5Cn%20%20display:%20none%20!important;%5Cn%20%20background-color:%20red;%5Cn%7D%5Cn%5Cn%23aioseo-primary-term-portfolio-type%20%7B%5Cn%20%20display:%20none%20!important;%5Cn%7D%5Cn%22%5D%7D */
